body {
	background-color: LightGray;
}

div {
	border: 1px solid Chocolate;
}

header {
	background-color: #ffffff;
	display: block;
}

#logo {
	margin: 1em 20%;
	float: left;
}

.nav {
	list-style-type: none;
}

.nav li {
	float: left;
	margin: 1.5em .5em;
}