body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
}
div {
    border: 1px solid Chocolate;
}

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .links > .active a {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .content {
	padding: 0px 15px;

}

.logo {
    margin-top: 10px;
}

.top-navigation .links {
	float: right;
	margin-top:  25px;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links a {
	text-decoration: none;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.top-navigation a:hover {
	color: #333333;
}

.introduction {
	background-image: url("../images/background.jpeg");
	height: 45.9rem;
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.introduction .content {
	color: #ffffff;
	text-align: center;
	width: 60rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15rem;
}

.introduction .content h1 {
	margin-bottom: 0px;
	font-size: 3em;
	font-weight: normal;
}

section .content p {
	margin-top: 10px;
	font-size: 1.5em;
}